<!DOCTYPE html>
<meta charset="UTF-8">
<html lang="ko" xmlns:th="http://www.thymeleaf.org" >
<footer th:fragment="footer" class="bg-dark text-light mt-auto">
    <div class="container">
        <!-- 역량 진단 -->
        <div class="row py-5">
            <h5 class="fw-bold md-4">
                <i class="fas fa-chart-bar me-2"></i>역량진단
            </h5>
            <ul class="list-unstyled">
                <li><a href="#" class="text-decoration-none text-dark">역량진단</a></li>
                <li><a href="#" class="text-decoration-none text-dark">진단 결과 확인하기</a></li>
            </ul>
        </div>

        <!-- 상담 예약 -->
        <div class="col-md-4 mb-4">
            <h5 class="fw-bold md-4">
                <i class="fas fa-calendar-alt me-2"></i>상담예약
            </h5>
            <ul class="list-unstyled">
                <li><a href="#" class="text-decoration-none text-dark">상담 예약하기</a></li>
                <li><a href="#" class="text-decoration-none text-dark">내 예약 조회</a></li>
            </ul>
        </div>

        <!-- 비교과 프로그램 -->
        <div class="col-md-4 mb-4">
            <h5 class="fw-bold md-4">
                <i class="fas fa-book me-2"></i>비교과 프로그램
            </h5>
            <ul class="list-unstyled">
                <li><a href="#" class="text-decoration-none text-dark">교내 비교과 프로그램</a></li>
                <li><a href="#" class="text-decoration-none text-dark">교외 비교과 프로그램</a></li>
            </ul>
        </div>
    </div>
</footer>
</html>