# Build directories
/build/
/.gradle/
/bin/

# IDE
/.idea/
/*.iml
/.vscode/
*.swp
*.swo

# Gradle
gradle/
gradlew
gradlew.bat
gradle.properties

# OS
.DS_Store
Thumbs.db

# Dependencies
/node_modules/

# Logs
*.log

# Target directory (Maven)
/target/

# Binary and lock files
*.bin
*.lock

problems-report.html
application-jwt.yml
application-gmail.yml

*.log
*.log.*.gz

.amazonq