<aside class="sidebar"
       xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
       th:fragment="sidebar">

    <link th:href="@{/css/sidebar.css}" rel="stylesheet">

    <div class="sidebar-header">
        <div class="sidebar-title">마이페이지</div>
        <div class="sidebar-sub">My Page</div>
    </div>

    <section class="menu-section open">
        <div class="menu-section-toggle">
            <span>대시보드</span>
        </div>
        <ul class="menu-list">
            <li>
                <a class="menu-link" th:href="@{/student/mypage}">개인 대시보드</a>
            </li>
        </ul>
    </section>

    <section class="menu-section">
        <div class="menu-section-toggle">
            <span>개인정보</span>
        </div>
        <ul class="menu-list">
            <li>
                <a class="menu-link" th:href="@{/student/mypage/info}">개인정보 수정</a>
            </li>
            <li>
                <a class="menu-link" th:href="@{/student/mypage/password}">비밀번호 변경</a>
            </li>
        </ul>
    </section>

    <section class="menu-section" sec:authorize="hasAnyRole('ADMIN','COUNSELING_ADMIN','COMPETENCY_ADMIN','NONCURRICULAR_ADMIN')">
        <div class="menu-section-toggle">
            <span>관리</span>
        </div>
        <ul class="menu-list">
            <li sec:authorize="hasRole('ADMIN')">
                <a class="menu-link" th:href="@{/mypage/user-management}">사용자 관리</a>
            </li>
            <li sec:authorize="hasAnyRole('ADMIN','COUNSELING_ADMIN','COMPETENCY_ADMIN','NONCURRICULAR_ADMIN')">
                <a class="menu-link" th:href="@{/mypage/system-settings}">시스템 설정</a>
            </li>
        </ul>
    </section>

    <script th:src="@{/js/sidebar.js}"></script>
</aside>