<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title th:text="${pageTitle} ?: '비교과 프로그램'">비교과 프로그램</title>

    <!-- 공통 CSS -->
    <link rel="stylesheet" th:href="@{/css/noncurricular/noncurricular.css}">
    <th:block th:replace="common/header :: headerStyles"></th:block>
    <th:block th:replace="common/footer :: footerStyles"></th:block>
</head>

<body class="d-flex flex-column min-vh-100">

<!-- 상단 헤더 -->
<div th:replace="common/header :: header"></div>

<div class="container-fluid">
    <div class="row">

        <!-- 좌측 사이드바 -->
        <aside class="col-12 col-md-3 col-lg-2 p-0 sidebar-col">
            <div th:replace="noncurricular/fix-screen/noncurricular-sidebar :: noncurricularSidebar"></div>
        </aside>

        <!-- 메인 컨텐츠 -->
        <main class="col-12 col-md-9 col-lg-10 py-4">
            <!-- 페이지 전용 본문 -->
            <div th:if="${content != null}"
                 th:replace="~{${content}}"></div>
        </main>
    </div>
</div>

<!-- 푸터 -->
<div th:replace="~{common/footer :: footer}"></div>

<!-- 공통 JS -->
<div th:replace="common/header :: headerScript"></div>
<!-- 페이지 전용 JS (fragment 없으면 무시) -->

</body>
</html>
