<aside class="sidebar"
       xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
       th:fragment="sidebar">

    <link th:href="@{/css/sidebar.css}" rel="stylesheet">

    <div class="sidebar-header">
        <div class="sidebar-title">역량진단</div>
        <div class="sidebar-sub">Competency Assessment</div>
    </div>

    <section class="menu-section open">
        <div class="menu-section-toggle">
            <span>대시보드</span>
        </div>
        <ul class="menu-list">
            <li sec:authorize="hasRole('STUDENT')">
                <a class="menu-link" th:href="@{/student/assessment/history}">진단 이력 조회</a>
            </li>
            <li sec:authorize="hasRole('COMPETENCY_ADMIN')">
                <a class="menu-link" th:href="@{/competency-admin/assessment-section}">진단 회차 관리</a>
            </li>
        </ul>
    </section>

    <section class="menu-section" sec:authorize="hasRole('COMPETENCY_ADMIN')">
        <div class="menu-section-toggle">
            <span>진단 관리</span>
        </div>
        <ul class="menu-list">
            <li>
                <a class="menu-link" th:href="@{/competency-admin/competency}">역량/문항 관리</a>
            </li>
        </ul>
    </section>

    <section class="menu-section" sec:authorize="hasRole('STUDENT')">
        <div class="menu-section-toggle">
            <span>진단</span>
        </div>
        <ul class="menu-list">
            <li>
                <a class="menu-link" th:href="@{/student/assessment}">역량진단 실시</a>
            </li>
        </ul>
    </section>



    <script th:src="@{/js/sidebar.js}"></script>
</aside>