<aside class="sidebar"
       xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
       th:fragment="sidebar">

    <link th:href="@{/css/sidebar.css}" rel="stylesheet">

    <div class="sidebar-header">
        <div class="sidebar-title">상담사</div>
        <div class="sidebar-sub">Counselor</div>
    </div>

    <section class="menu-section open">
        <div class="menu-section-toggle">
            <span>대시보드</span>
        </div>
        <ul class="menu-list">
            <li>
                <a class="menu-link" th:href="@{/counseling/counselor}">상담사 대시보드</a>
            </li>
        </ul>
    </section>

    <section class="menu-section">
        <div class="menu-section-toggle">
            <span>일정 관리</span>
        </div>
        <ul class="menu-list">
            <li>
                <a class="menu-link" th:href="@{/counseling/counselor/schedule}">일정 관리</a>
            </li>
            <li>
                <a class="menu-link" th:href="@{/counseling/counselor/reservations}">예약 승인</a>
            </li>
        </ul>
    </section>

    <section class="menu-section">
        <div class="menu-section-toggle">
            <span>상담 관리</span>
        </div>
        <ul class="menu-list">
            <li>
                <a class="menu-link" th:href="@{/counseling/counselor/records}">상담일지</a>
            </li>
            <li>
                <a class="menu-link" th:href="@{/counseling/counselor/history}">상담 이력</a>
            </li>
            <li>
                <a class="menu-link" th:href="@{/counseling/counselor/satisfaction}">만족도 결과</a>
            </li>
        </ul>
    </section>

    <script th:src="@{/js/sidebar.js}"></script>
</aside>