<aside class="sidebar"
       xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
       th:fragment="sidebar">

    <link th:href="@{/css/sidebar.css}" rel="stylesheet">

    <div class="sidebar-header">
        <div class="sidebar-title">역량진단 관리</div>
        <div class="sidebar-sub">Competency Management</div>
    </div>

    <section class="menu-section open">
        <div class="menu-section-toggle">
            <span>대시보드</span>
        </div>
        <ul class="menu-list">
            <li>
                <a class="menu-link" th:href="@{/competency/admin/dashboard}">관리자 대시보드</a>
            </li>
        </ul>
    </section>

    <section class="menu-section">
        <div class="menu-section-toggle">
            <span>역량 관리</span>
        </div>
        <ul class="menu-list">
            <li>
                <a class="menu-link" th:href="@{/competency-admin/competency}">역량 관리</a>
            </li>
        </ul>
    </section>

    <script th:src="@{/js/sidebar.js}"></script>
</aside>